# Virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Mac/Linux
.DS_Store

# Results
results/*.csv
results/*.json

# ChromaDB
chroma/
